taller 3/ejercicio1_Full.dat
taller 3/ejercicio1_Mem.dat
taller 3/ejercicio2_Full.dat
taller 3/ejercicio2_Mem.dat
*.jar
taller 4/Taller de Microarquitectura-20210225/__pycache__/*
*.mem
taller 4/Taller de Microarquitectura-20210225/ejercicio6B.txt
taller 4/Taller de Microarquitectura-20210225/ejercicio6A.txt
taller 4/Taller de Microarquitectura-20210225/ejercicio6C.txt
taller 5/Taller 5 Interrupciones-20210303/ejercicio4.txt
taller 5/Taller 5 Interrupciones-20210303/ejercicio5.txt
taller 5/Taller 5 Interrupciones-20210303/__pycache__/common.cpython-39.pyc

taller 6/Ripes-v2.1.0-win-x86_64/*
